<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 메퍼 설정을 위해서 위의 내용은 반드시 필요함 -->
  
  <!-- mapper의 namespace속성에 Mapper인터페이스를 지정 -->
  <mapper namespace="org.zerock.testMapper.TestMapper">
  	<select id="select" resultType="org.zerock.command.ScoreVO">
  		select * from score01
  	</select>
  	<select id="getTime" resultType="String">
  		select sysdate from dual
  	</select>
  	
  	<insert id="insert">
  		insert into score01(num, name, kor, eng, math)
  		 values(score01_seq.nextval,#{name}, #{kor}, #{eng}, #{math})
  	</insert>
  </mapper>